absl-py==1.3.0
anyio==3.6.2
asgiref==3.5.2
aspose-words==22.6.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
autopep8==1.6.0
backcall==0.2.0
cachetools==5.2.0
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
clx-sdk-xms==1.0.0
cmake==3.24.3
colorama==0.4.4
coloredlogs==15.0.1
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.0
distlib==0.3.6
Django==4.0.5
dlib==19.24.0
entrypoints==0.3
executing==0.8.3
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.85.2
filelock==3.8.0
Flask==2.0.2
Flask-Reuploaded==1.2.0
flatbuffers==22.9.24
fonttools==4.28.5
future==0.18.2
gast==0.4.0
gcloud==0.17.0
geocoder==1.38.1
geographiclib==1.52
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.29
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.3
greenlet==1.1.2
grpcio==1.49.1
gunicorn==20.1.0
h11==0.14.0
h5py==3.7.0
httplib2==0.20.4
humanfriendly==10.0
idna==3.3
imutils==0.5.4
install==1.3.5
ipykernel==6.17.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
iso8601==1.0.2
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab-widgets==3.0.3
jws==0.1.3
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
MouseInfo==0.1.3
mpmath==1.2.1
nbformat==5.1.3
nest-asyncio==1.5.4
numpy==1.23.5
oauth2client==3.0.0
oauthlib==3.2.1
onnxruntime==1.12.1
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandasql==0.7.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.2
prompt-toolkit==3.0.29
protobuf==3.19.6
psutil==5.9.2
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.4.3
pydantic==1.10.2
pyenchant==3.2.2
PyGetWindow==0.0.9
Pygments==2.11.2
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==3.0.6
pyperclip==1.8.2
pypiwin32==223
pyreadline3==3.4.1
Pyrebase==3.0.27
PyRect==0.2.0
pyrsistent==0.18.0
PyScreeze==0.1.28
pytesseract==0.3.9
python-dateutil==2.8.2
python-jwt==2.0.1
python-multipart==0.0.5
pytweening==1.0.4
pytz==2022.6
pywin32==303
PyYAML==6.0
pyzmq==24.0.1
radar==0.3
radar-python==0.0.4
ratelim==0.1.6
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.7.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.0
sinchsms==1.0.4
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.3.0
split-folders==0.5.1
SQLAlchemy==1.4.37
sqlparse==0.4.2
stack-data==0.3.0
starlette==0.20.4
sympy==1.11.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
thop==0.1.1.post2209072238
threadpoolctl==3.0.0
tifffile==2022.5.4
toml==0.10.2
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.1
traitlets==5.1.1
typing_extensions==4.1.1
tzdata==2022.1
urllib3==1.26.7
uvicorn==0.19.0
virtualenv==20.16.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wrapt==1.14.1
